body {
	text-align: center;
	font-family: 'Roboto';
	font-weight: 400;
}

div {
	margin: 0 auto;
	height: 95vh;
	width: 100vw;
	text-align: middle;
}

h1 {
	line-height: 100vh;
	vertical-align: top;
	padding: 0 0;
}

p {
	margin: 0 auto;
	max-width: 650px;
	font-size: 1.4em;
}

.idiot {
	font-size: 6em;
	font-family: 'Roboto';
	color: red;
	background-color: lightblue;
	font-weight: 500;
}

.wellactually {
	font-size: 5em;
	font-family: 'Dancing Script';
}

.clever {
	font-family: 'Titillium Web';
	font-size: 3em;
	background-color: #ffbf80;
}

.help {
	font-weight: 500;
	font-size: 0.8em;
	background-color: #000;
	color: #fff;
}